<h1>💕💀💕</h1>

<div class="container">
  <div class="row map-row">
    <div id="floating-panel">
    <b>Start: </b>
    <select id="start">
      <option value="Portland International Airport">PDX</option>
      <option value="union station, portland, OR">Union Station</option>
    </select>
    <b>End: </b>
    <select id="end">
      <option value="400 SW 6th Avenue, Portland, OR">Epicodus</option>
    </select>
    </div>

    <div id="map"></div>

    <div id="warnings-panel"></div>
  </div>
</div>
